<section class="box">
  <div class="flex space-x-4">
    <.link
      :for={component <- @components}
      navigate={
        Routes.live_path(
          @conn,
          Module.concat([
            SproutWeb,
            String.to_atom("#{String.capitalize(component)}Live")
          ])
        )
      }
      class="font-medium hover:text-emerald-600 hover:underline"
    >
      <%= component %>
    </.link>
  </div>
</section>
