<main class="max-w-5xl mx-auto py-12 px-16">
  <p class="alert alert-info" role="alert">
    <%= get_flash(@conn, :info) %>
  </p>
  <p class="alert alert-danger" role="alert">
    <%= get_flash(@conn, :error) %>
  </p>
  <h2 class="mb-8 text-2xl font-bold">
    <.link navigate={Routes.page_path(@conn, :index)}>
      <%= "Sprout UI" %>
    </.link>
  </h2>
  <%= @inner_content %>
</main>
