<main class="max-w-5xl mx-auto py-12 px-16">
  <h1 class="mb-8 text-2xl font-bold">
    <.link navigate={Routes.live_path(@socket, SproutWeb.IndexLive)}>
      <%= "#{assigns[:title] || "Sprout UI"}" %>
    </.link>
  </h1>
  <%= @inner_content %>
</main>
